@font-face {

    font-family: folio-light;
    src: url(fonts/folio-light.ttf);

}

* {

	margin: 0;
	padding: 0;

}

body {

	color: black;
	font-family: "Folio-Med";
	font-size: 2vw;
	line-height: 1.25em;

}

#left {

	height: 100%;
	padding-top: 1.2em;
	padding-left: 1.2em;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 25vw;
	background: white;
	overflow-y: scroll;

}

.full {

	width: 100%;

}

ul {

    padding-bottom: 1em; 
	list-style-type: none;

}

li {

	list-style: none;

}

a {

	color: black;
	text-decoration: none;

}

li > a:hover {

	display: inline-block;
	color: grey;

}

sup {

	line-height: 0;
	font-size: 0.5em;

}

.key {

	display: inline-block;
	height: 0.6em;
	width: 0.6em;
	margin-left: 0.6em;
	background-color: white;
	visibility: hidden;

}

#right {

	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	grid-template-rows: 25vw 25vw 25vw;
	grid-gap: 0px;
	position: fixed;
	left: 25vw;
	top: 0;
	height: 100vh;
	width: 75vw;
	border-left: 2px solid black;
	background: white;
	overflow-y: scroll;

}



.right-body {

	position: fixed;
	left: 25vw;
	top: 0;
	height: 100vh;
	width: 75vw;
	border-left: 2px solid black;
	background: white;
	overflow-y: scroll;

}

#next {

	display: grid;
	grid-template-columns: 25vw 25vw 25vw;
	grid-gap: 0px;
	position: relative;
	width: 100%;
	padding-bottom: 2.2em;
	border-top: 2px solid black;
	background-color: white;

}

.title {

	display: inline-block;
	position: relative;
	width: 75vw;
	height: 12.5vw;

}

.title > h1 {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 65%;
	font-family: folio-light;
	font-size: 3vw;
	line-height: 1.3em;
	text-align: center;
	text-transform: uppercase;

}

.body {

	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 75%;

}

.body > p {

	text-indent: 2.4em;

}

.body > h2 { 

	font-size: 1em;
	font-weight: normal;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;

}

.body > p:first-of-type {

    text-indent: 0;

}

.body > p:last-of-type {

    padding-bottom: 2.4em;

}

.body > img {

	width: 100%;

}

.body > .third {

	width: 30%;
	display: inline-block;
	padding-left: 0.5em;
	padding-bottom: 0.2em;


}

.article {

	display: inline-block;
	position: relative;
	width: 25vw;
	height: 25vw;
	border-right: 2px solid black;
	border-bottom: 2px solid black;

}

.article > a {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: black;
	text-align: center;

}

.article_2 > a {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: black;
	text-align: center;

}

#bar {

	position: fixed;
	z-index: 100;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 1.2em;
	border-top: 2px black solid;
	background: white;

}

#bar-text {

	position: relative;

}

#save > a {

	position: fixed;
	right: 0;
	bottom: 0;
	padding-right: 1.2em;
	padding-bottom: 0.4em;
	padding-left: 1.2em;
	padding-top: 0.4em;
	color: red;
	border-left: 2px solid black; 

}

#archive {

	color: red;

}

#about {

	color: red;
	padding-bottom: 4.5em;

}

.right-align {

	text-align: right;

}

.indent-entire {

	padding-left: 2.4em;

}

video {

	width: 100%;
	padding-bottom: 2.4em;

}

.one > h1, 
.one > h2,
.one > p, 
.one > a, 
.one > div,
.one > img, 
.one > video {

	opacity: 1;

}

.two > h1, 
.two > h2,
.two > p,
.two > a,
.two > div,
.two > img,
.two > video {

	opacity: 0.7;

}

.three > h1, 
.three > h2,
.three > p, 
.three > a, 
.three > div,
.three > img, 
.three > video {

	opacity: 0.4;

}

.left::-webkit-scrollbar { width: 0 !important }
.right::-webkit-scrollbar { width: 0 !important }
.right-body::-webkit-scrollbar { width: 0 !important }
